[submodule "TXRegularExpression"]
	path = TXRegularExpression
	url = https://github.com/tkurita/TXRegularExpression.git
[submodule "AEUtils"]
	path = AEUtils
	url = https://github.com/tkurita/AEUtils.git
[submodule "AppleEventExtra"]
	path = AppleEventExtra
	url = https://github.com/tkurita/AppleEventExtra.git
