<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ModuleLoader</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>for 10.5. copyright 2006-2009, Tetsuro KURITA</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1 for 10.5. copyright 2006-2009, Tetsuro KURITA</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.ModuleLoader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>MolofdMo</key>
			<string>findModuleHandler</string>
			<key>MololoMo</key>
			<string>loadModuleHandler</string>
			<key>MoloPloM</key>
			<string>loadModuleHandler</string>
			<key>MoloMKlo</key>
			<string>makeLoaderHandler</string>
			<key>MologtPH</key>
			<string>modulePathsHandler</string>
			<key>MoloadMp</key>
			<string>setAdditionalModulePathsHandler</string>
			<key>MoloMkLl</key>
			<string>makeLocalLoaderHandler</string>
			<key>MoloVers</key>
			<string>versionHandler</string>
			<key>MoloMkMs</key>
			<string>makeModuleSpecHandler</string>
			<key>MoloExdp</key>
			<string>extractDependenciesHandler</string>
		</dict>
	</dict>
</dict>
</plist>
