<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ModuleLoader</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2b1</string>
	<key>NSHumanReadableCopyright</key>
	<string>for 10.6. copyright 2006-2010, Tetsuro KURITA</string>
	<key>CFBundleGetInfoString</key>
	<string>2.2b1 for 10.6. copyright 2006-2010, Tetsuro KURITA</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.ModuleLoader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>MoloPloM</key>
			<dict>
				<key>Handler</key>
				<string>_loadModuleHandler_</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MolofdMo</key>
			<dict>
				<key>Handler</key>
				<string>findModuleHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MololoMo</key>
			<dict>
				<key>Handler</key>
				<string>loadModuleHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MoloMKlo</key>
			<dict>
				<key>Handler</key>
				<string>makeLoaderHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MologtPH</key>
			<dict>
				<key>Handler</key>
				<string>modulePathsHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MoloadMp</key>
			<dict>
				<key>Handler</key>
				<string>setAdditionalModulePathsHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MoloMkLl</key>
			<dict>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>makeLocalLoaderHandler</string>
			</dict>
			<key>MoloVers</key>
			<dict>
				<key>Handler</key>
				<string>versionHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MoloMkMs</key>
			<dict>
				<key>Handler</key>
				<string>makeModuleSpecHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>MoloExdp</key>
			<dict>
				<key>Handler</key>
				<string>extractDependenciesHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
